/* screen - about-us */

.about-us {
  align-items: center;
  background-color: var(--fuschia100);
  display: flex;
  flex-direction: column;
  padding: 80px 0 0;
  position: relative;
}

.about-us .top-bar {
  align-items: center;
  background-color: var(--fuschia100);
  box-shadow: 0px 0px 6px #0000001f;
  display: flex;
  gap: 20px;
  height: 80px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding: 20px 20px 20px 0px;
  position: absolute;
  top: 0;
  width: 100%;
}

.about-us .logo-lieferspatz-1 {
  height: 104px;
  margin-bottom: -32.00px;
  margin-top: -32.00px;
  object-fit: cover;
  position: relative;
  width: 142px;
}

.about-us .title-4 {
  color: var(--black);
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 36px;
  position: relative;
}

.about-us .navigation {
  align-items: center;
  background-color: var(--fuschia100);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
}

.about-us .button-danger {
  font-family: var(--font-family-roboto);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris100);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  padding: 12px 16px;
  height: 40px;
  min-width: 100px;  /* Ensures button consistency */
  font-size: 14px;
  font-weight: bold;
  color: white; /* Ensures text is visible */
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.about-us .button {
  color: var(--fuschia100);
  font-weight: 400;
  line-height: 16px;
  margin-bottom: -7.00px;
  margin-top: -9.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}


.about-us .button-1 {
  color: transparent;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: -7.00px;
  margin-top: -9.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about-us .span {
  color: var(--fuschia100);
}

.about-us .span1 {
  color: var(--iris80);
}


.about-us .button-2 {
  color: var(--fuschia100);
  font-weight: 400;
  line-height: 16px;
  margin-bottom: -7.00px;
  margin-left: -2.50px;
  margin-right: -2.50px;
  margin-top: -9.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}



.about-us .container-1 {
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
}

.about-us .title-5 {
  letter-spacing: 0;
  line-height: 48px;
  margin-top: -1.00px;
  margin-left: 0px;
  position: relative;
  text-align: center;
  width: 520px;
}

.about-us .description {
  height: 48px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  align-self: center;
  text-align: center;
  width: 952px;
}

.about-us .vector-200 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 240px;
  width: 1440px;
}

.about-us .products {
  align-self: stretch;
  background-color: var(--fuschia100);
  height: 1296px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.about-us .vector-200-1 {
  top: 1296px;
}

.about-us .button-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 530px;
  position: absolute;
  top: 1110px;
}



.about-us .primary {
  background-color: var(--iris100);
  color: white;
  border: none;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  top: 0px;
  left: 100px;
  border-radius: 5px;
  text-align: center;
  width: 450px;
}

.about-us .title-6 {
  color: var(--fuschia100);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 700;
  align-items: center;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: 200px;
}

.about-us .title-7 {
  font-weight: 700;
  left: 499px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 37px;
  width: 520px;
}

.about-us .title-8 {
  font-size: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 100px;
  white-space: nowrap;
  width: 342px;
}

.about-us .title-9 {
  font-size: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 300px;
  white-space: nowrap;
  width: 272px;
}

.about-us .title-10 {
  font-size: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 478px;
  white-space: nowrap;
  width: 442px;
}

.about-us .title-11 {
  font-size: 32px;
  left: -1px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 647px;
  white-space: nowrap;
  width: 446px;
}

.about-us .title-12 {
  font-size: 32px;
  left: -5px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 856px;
  white-space: nowrap;
  width: 372px;
}

.about-us .description-1 {
  left: 59px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 161px;
  width: 1346px;
}

.about-us .description-2 {
  left: 59px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 363px;
  width: 1346px;
}

.about-us .description-3 {
  left: 59px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 543px;
  width: 1346px;
}

.about-us .description-4 {
  left: 59px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 924px;
  width: 1346px;
}

.about-us .description-5 {
  left: 59px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 712px;
  width: 1346px;
}

.about-us .reviews {
  align-items: center;
  align-self: stretch;
  background-color: var(--aqua-deep);
  display: flex;
  gap: 60px;
  height: 452px;
  justify-content: center;
  overflow: hidden;
  padding: 60px 170px;
  position: relative;
  width: 100%;
}

.about-us .container {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  position: relative;
}

.about-us .title {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 48px;
  margin-top: -1.00px;
  position: relative;
}

.about-us .description-6 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.about-us .list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 192px;
  justify-content: center;
  padding: 20px 0px;
  position: relative;
  width: 652px;
}

.about-us .row {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  margin-bottom: -20.00px;
  margin-top: -20.00px;
  position: relative;
  width: 100%;
}

.about-us .card {
  align-items: center;
  background-color: var(--black-2);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  overflow: hidden;
  padding: 16px;
  position: relative;
}

.about-us .user {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 100%;
}

.about-us .avatar {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.about-us .bear-1 {
  height: 45px;
  left: -61px;
  object-fit: cover;
  position: absolute;
  top: -7px;
  width: 154px;
}

.about-us .frame-427318906 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.about-us .title-1 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: var(--black);
  display: -webkit-box;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.about-us .frame-427318817 {
  height: 9.81px;
  position: relative;
  width: 58.26px;
}

.about-us .title-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  display: -webkit-box;
  height: 72px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.about-us .icon-buttons {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.about-us .icon {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 24px;
}

.about-us .avatar-2 {
  align-items: flex-start;
  display: flex;
  left: -1px;
}

.about-us .bear-1-1 {
  height: 45px;
  margin-left: -61px;
  margin-top: -6.8px;
  object-fit: cover;
  width: 154px;
}

.about-us .vector-200-2 {
  top: 452px;
}

.about-us .list-1 {
  align-self: stretch;
  background-color: var(--fuschia100);
  gap: 60px;
  height: 466px;
  overflow: hidden;
  padding: 60px 170px;
  width: 100%;
}

.about-us .list-2 {
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
}

.about-us .row-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 100%;
}

.about-us .item {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  justify-content: center;
  padding: 12px 0px;
  position: relative;
}

.about-us .frame {
  background-color: var(--black-2);
  border-radius: 50px;
  height: 100px;
  position: relative;
  width: 100px;
}

.about-us .icon-1 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--black);
  display: -webkit-box;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 100px;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  top: -1px;
  white-space: nowrap;
  width: 100px;
}

.about-us .frame-427318906-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.about-us .title-3 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.about-us .subtitle {
  align-self: stretch;
  color: #00000080;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
}

.about-us .vector-200-3 {
  top: 466px;
}

.about-us .section-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--aqua-deep);
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  justify-content: center;
  padding: 60px;
  position: relative;
  width: 100%;
}

.about-us .container-2 {
  gap: 60px;
  height: 100px;
  justify-content: center;
  width: 770px;
}

.about-us .title-13 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 28px;
  margin-left: -0.50px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 352px;
}

.about-us .title-14 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 175px;
}

.about-us .title-15 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 28px;
  margin-right: -0.50px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 124px;
}

.about-us .avatar-3 {
  background-color: var(--black-3);
  border-radius: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  width: 32px;
}


.about-us .container-3 {
  align-items: center;
  display: flex;
  position: relative;
}

.about-us .list-3 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.about-us .vector-200-4 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 1440px;
}
