/* screen - landing-page */

.landing-page {
  align-items: center;
  background-color: var(--fuschia100);
  display: flex;
  flex-direction: column;
  padding: auto;
  position: relative;
}

.landing-page .title-6 {
  color: var(--black);
  flex: 1;
  font-family: var(--font-family-roboto-medium);
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.landing-page .button-danger {
  font-family: var(--font-family-roboto);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris100);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  padding: 12px 16px;
  height: 40px;
  min-width: 100px;  /* Ensures button consistency */
  font-size: 14px;
  font-weight: bold;
  color: white; /* Ensures text is visible */
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.landing-page .button {
  color: var(--fuschia100);
  font-weight: 400;
  line-height: 16px;
  margin-bottom: -7.00px;
  margin-top: -9.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}


.landing-page .button-1 {
  color: transparent;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: -7.00px;
  margin-top: -9.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .span {
  color: var(--fuschia100);
}

.landing-page .span1 {
  color: var(--iris80);
}


.landing-page .button-2 {
  color: var(--fuschia100);
  font-weight: 400;
  line-height: 16px;
  margin-bottom: -7.00px;
  margin-left: -2.50px;
  margin-right: -2.50px;
  margin-top: -9.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .title {
  letter-spacing: 0;
  line-height: 48px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 100%;
}

.landing-page .products {
  align-items: center;
  align-self: stretch;
  background-color: var(--fuschia100);
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 866px;
  justify-content: center;
  overflow: hidden;
  padding: 60px 170px;
  position: relative;
  width: 100%;
}

.landing-page .container-2 {
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.landing-page .button-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.landing-page .primary {
  align-items: center;
  background-color: var(--iris100);
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  position: relative;
  width: 240px;
}

.landing-page .title-7 {
  color: var(--fuschia100);
  font-family: var(--font-family-roboto-medium);
  font-size: var(--font-size-l);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .list {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.landing-page .row {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 100%;
}

.landing-page .card-2 {
  border: 1px solid;
  border-color: var(--black-2);
}

.landing-page .image-container-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 340px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.landing-page .image-1 {
  background-color: var(--iron);
  flex: 1;
  flex-grow: 1;
  height: 361px;
  margin-bottom: -21.00px;
  position: relative;
}

.landing-page .overlap-group {
  align-items: flex-start;
  background-image: url(../static/img/hamburger-1.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 340px;
  left: -56px;
  min-width: 489px;
  padding: 0 56.0px;
  position: relative;
}

.landing-page .tag {
  align-items: center;
  background-color: var(--iris100);
  border-radius: 6px 0px 6px 0px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 8px;
  position: relative;
}

.landing-page .text {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .text-content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
  position: relative;
  width: 100%;
}

.landing-page .title-1 {
  align-self: stretch;
  line-height: 24px;
  margin-top: -1.00px;
}

.landing-page .icon-buttons-1 {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.landing-page .card {
  align-items: center;
  border: 1px solid;
  border-color: var(--black-2);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.landing-page .image-container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 340px;
  position: relative;
  width: 100%;
}

.landing-page .image {
  align-self: stretch;
  background-color: var(--iron);
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.landing-page .overlap-group-1 {
  background-image: url(../static/img/pizza-1.png);
  height: 370px;
  left: -30px;
  min-width: 400px;
  padding: 30.0px 30.0px;
  top: -30px;
}

.landing-page .title-8 {
  align-self: stretch;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
}

.landing-page .overlap-group-2 {
  background-image: url(../static/img/sushi-1.png);
  height: 340px;
  left: 0px;
  min-width: 340px;
  padding: 0 0.0px;
}

.landing-page .title-2 {
  align-self: stretch;
  line-height: 48px;
  margin-top: -1.00px;
}

.landing-page .list-1 {
  flex-direction: column;
  gap: 40px;
  height: 192px;
  padding: 20px 0px;
  width: 652px;
}

.landing-page .row-1 {
  margin-bottom: -20.00px;
  margin-top: -20.00px;
}

.landing-page .card-1 {
  background-color: var(--black-3);
  gap: 16px;
  padding: 16px;
}

.landing-page .title-3 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: var(--black);
  display: -webkit-box;
  font-family: var(--font-family-roboto-medium);
  font-size: var(--font-size-m);
  font-weight: 500;
  line-height: 20px;
  margin-top: -1.00px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.landing-page .title-4 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  display: -webkit-box;
  height: 72px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.landing-page .list-2 {
  align-self: stretch;
  background-color: var(--fuschia100);
  gap: 60px;
  height: 466px;
  overflow: hidden;
  padding: 60px 170px;
  width: 100%;
}

.landing-page .list-3 {
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
}

.landing-page .icon-1 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--black);
  display: -webkit-box;
  font-family: var(--font-family-roboto-regular);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  height: 100px;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  top: -1px;
  white-space: nowrap;
  width: 100px;
}

.landing-page .title-5 {
  align-self: stretch;
  color: var(--black);
  font-family: var(--font-family-roboto-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  line-height: 28px;
  margin-top: -1.00px;
  text-align: center;
}

.landing-page .subtitle-1 {
  align-self: stretch;
  color: var(--black-4);
  font-family: var(--font-family-roboto-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}

.landing-page .container-3 {
  gap: 60px;
  height: 100px;
  justify-content: center;
  width: 770px;
}

.landing-page .title-9 {
  align-self: stretch;
  line-height: 28px;
  margin-left: -0.50px;
  margin-top: -1.00px;
  text-align: center;
  width: 352px;
}

.landing-page .title-10 {
  align-self: stretch;
  line-height: 28px;
  margin-top: -1.00px;
  text-align: center;
  width: 175px;
}

.landing-page .title-11 {
  align-self: stretch;
  line-height: 28px;
  margin-right: -0.50px;
  margin-top: -1.00px;
  text-align: center;
  width: 124px;
}


.landing-page .card-3 {
  align-items: center;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.landing-page .list-4 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.landing-page .overlap-group-3 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  position: relative;
}

.landing-page .row-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 100%;
}

.landing-page .tag-3 {
  align-items: center;
  background-color: var(--iris100);
  border-radius: 6px 0px 6px 0px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 8px;
  position: relative;
}

.landing-page .title-12 {
  letter-spacing: 0;
  position: relative;
}


