/* screen - restaurants */

.restaurants {
  align-items: center;
  background-color: var(--fuschia100);
  display: flex;
  flex-direction: column;
  padding: auto;
  position: relative;
  overflow-y: scroll;
}

.restaurants .title-5 {
  color: var(--black);
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

.restaurants .button-danger {
  font-family: var(--font-family-roboto);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris100);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  padding: 12px 16px;
  height: 40px;
  min-width: 100px;  /* Ensures button consistency */
  font-size: 14px;
  font-weight: bold;
  color: white; /* Ensures text is visible */
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.landing-page .button {
  color: var(--fuschia100);
  font-weight: 400;
  line-height: 16px;
  margin-bottom: -7.00px;
  margin-top: -9.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}


.restaurants .button-danger-1 {
  display: flex;
  width: 96px;
}

.restaurants .button-danger-2 {
  display: inline-flex;
  flex: 0 0 auto;
}

.restaurants .title-6 {
  color: var(--black);
  flex: 1;
  font-family: var(--font-family-roboto-medium);
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}


.restaurants .products {
  align-items: center;
  align-self: stretch;
  background-color: var(--fuschia100);
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-height: 866px;  /* Limits height */
  justify-content: flex-start;  /* Align items at the top */
  overflow-y: auto;  /* Enables vertical scrolling */
  padding: 60px 170px;
  position: relative;
  width: 100%;
}


.restaurants .title-7 {
  line-height: 48px;
  text-align: center;
  width: 520px;
}

.restaurants .container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  position: relative;
}

.restaurants .container-2 {
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.restaurants .button-2 {
  color: var(--fuschia100);
  font-weight: 400;
  line-height: 16px;
  margin-bottom: -7.00px;
  margin-left: -2.50px;
  margin-right: -2.50px;
  margin-top: -9.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}


.restaurants .primary {
  align-items: center;
  background-color: var(--iris100);
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  position: relative;
  width: 240px;
}

.restaurants .title-8 {
  color: var(--fuschia100);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.restaurants .list {
  height: 700px;
  margin-left: -19.00px;
  margin-right: -19.00px;
  position: relative;
  width: 1138px;
  max-height: 80vh; /* Allows it to take up most of the viewport */
  overflow-y: auto;  /* Enables scrolling */
}

.restaurants .row {
  align-items: flex-start;
  gap: 40px;
  display: flex;
  flex-direction: column;
  left: 110px;
  min-height: 439px;
  padding: 0.5px 0;
  position: absolute;
  top: 19px;
  width: 970px;
}


.restaurants .text-content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
  position: relative;
  width: 100%;
}

.restaurants .title {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 0.00px;
  position: relative;
  margin-left: -3px;
}

.restaurants .image-container-1 {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.restaurants .title-9 {
  align-self: stretch;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
}

.restaurants .subtitle-2 {
  line-height: 20px;
  white-space: nowrap;
  width: fit-content;
}


.restaurants .row-1 {
  flex-direction: column;
  left: 0;
  min-height: 432px;
  position: absolute;
  top: 21px;
  width: 182px;
}

.restaurants .image-container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.restaurants .restaurant-2 {
  height: 91px;
  object-fit: cover;
  position: relative;
  width: 180px;
}



.restaurants .title-1 {
  letter-spacing: 0;
  line-height: 48px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 520px;
}

.restaurants .list-1 {
  flex-direction: column;
  gap: 40px;
  height: 192px;
  padding: 20px 0px;
  width: 652px;
}

.restaurants .card {
  align-items: center;
  background-color: var(--black-3);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 16px;
  position: relative;
  gap: 20px;
  width: 800px;
  align-self: center;
  left: -20px;
}

.restaurants .title-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  display: -webkit-box;
  line-height: 20px;
  margin-top: -1.00px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurants .title-3 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  display: -webkit-box;
  height: 72px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurants .list-2 {
  align-self: stretch;
  background-color: var(--fuschia100);
  gap: 60px;
  height: 466px;
  overflow: hidden;
  padding: 60px 170px;
  width: 100%;
}

.restaurants .list-3 {
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
}

.restaurants .row-3 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 100%;
}

.restaurants .icon-1 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  height: 100px;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  top: -1px;
  white-space: nowrap;
  width: 100px;
}

.restaurants .title-4 {
  align-self: stretch;
  line-height: 28px;
  margin-top: -1.00px;
  text-align: center;
}

.restaurants .subtitle-1 {
  align-self: stretch;
  line-height: 24px;
  text-align: center;
}

.restaurants .container-3 {
  gap: 60px;
  height: 100px;
  justify-content: center;
  width: 770px;
}

.restaurants .title-10 {
  align-self: stretch;
  line-height: 28px;
  margin-left: -0.50px;
  margin-top: -1.00px;
  text-align: center;
  width: 352px;
}

.restaurants .title-11 {
  align-self: stretch;
  line-height: 28px;
  margin-top: -1.00px;
  text-align: center;
  width: 175px;
}

.restaurants .title-12 {
  align-self: stretch;
  line-height: 28px;
  margin-right: -0.50px;
  margin-top: -1.00px;
  text-align: center;
  width: 124px;
}

.restaurants .button-danger-3 {
  display: flex;
  width: 87px;
}

.restaurants .button-danger-4 {
  align-items: center;
  background-color: var(--iris100);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  gap: 8px;
  height: 24px;
  justify-content: center;
  overflow: hidden;
  padding: 12px;
  position: relative;
}

.restaurants .list-4 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.restaurants .subtitle-3 {
  letter-spacing: 0;
  position: relative;
}

.restaurants .title-13 {
  letter-spacing: 0;
  position: relative;
}
