<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=100%, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="static/sign-up.css" />
    <link rel="stylesheet" type="text/css" href="static/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="sign-up" />
    <div class="sign-up screen">
      <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
      <script src="{{ url_for('static', filename='js/globals.js') }}"></script>
      <div class="top-bar">
        <img class="logo-lieferspatz-1" src="static/img/logo-lieferspatz-1.png" alt="logo lieferspatz 1" />
        <div class="title-6 valign-text-middle title-12"></div>
          <div class="navigation">
          <a href="{{ url_for('home') }}" class="button button-danger">Home</a> 
          <a href="{{ url_for('signup') }}" class="button button-danger">Sign up</a>      
          <a href="{{ url_for('login') }}" class="button button-danger">Log in</a>
          <a href="{{ url_for('about') }}" class="button button-danger">About us</a>
          </div>      
      </div>
      <div class="section">
        <div class="container">
          <div class="title-1 roboto-bold-black-40px">Welcome to Lieferspatz</div>
          <p class="description roboto-bold-black-16px">Bringing convenience to your doorstep</p>
        </div>
        <img class="vector-200" src="img/vector-200.svg" alt="Vector 200" />
      </div>
      <div class="products">
        <img class="vector-200-1" src="img/vector-200.svg" alt="Vector 200" />
        <div class="title-2 roboto-bold-black-50px">Choose an option</div>
        <a href="{{ url_for('sign_up_restaurant') }}" class="card-link">
          <div class="list">
            <div class="row">
              <div class="card">
                <p class="click-here-to-sing-up-as-a roboto-semi-bold-black-24px">
                  Click here to sign up as a
                </p>
                <h1 class="title-3">Restaurant</h1>
              </div>
            </div>
          </div>
        </a>        
        <a href="{{ url_for('sign_up_customer') }}" class="card-link">
          <div class="list-1">
            <div class="row-1">
              <div class="card">
                <p class="click-here-to-sing-up-as-a-1 roboto-semi-bold-black-24px">
                  Click here to sign up as a
                </p>
                <div class="customer">Customer</div>
              </div>
            </div>
          </div>
        </a>        
      </div>
      <div class="section-1">
        <div class="container-3 container-4 roboto-regular-normal-black-16px">
          <p class="title-9 valign-text-middle title-12">© 2024 Lieferspatz. All Rights Reserved</p>
          <div class="title-10 valign-text-middle title-12">Terms &amp; Conditions</div>
          <div class="title-11 valign-text-middle title-12">Privacy Policy</div>
        </div>
      </div>
    </div>
  </body>
</html>
